<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-header">
            <h4 class="">Nuevo {{ singularVar }}</h4>
        </div>
        {% element 'form' %}
    </div>
</div>